name: github pages
on: # 监听 master 分支上的 push 事件
  push:
    branches:
      - master # default branch
jobs:
  deploy:
    runs-on: ubuntu-18.04 # 构建环境使用 ubuntu
    steps:
      - name: checkout
        uses: actions/checkout@v2.3.1

      - name: Install and Build
        run: |
          yarn  install
          yarn  build:lib
        env:
          CI: true

      - name: Deploy # 将打包内容发布到 github page
        uses: JamesIves/github-pages-deploy-action@3.5.9
        env:
          ACCESS_TOKEN: ${{ secrets.COMPONENTS_LIBRARY }} # COMPONENTS_LIBRARY 是我的 secret 名称，需要替换成你的
        with:
          BRANCH: master # 发布分支
          FOLDER: packages/mini-ocean/lib # 构建成果所在目录
          TARGET_FOLDER: build/dist/components-lib # 打包的文件将放到静态服务器 components-lib 目录下
          #在package.json中添加字段：	"homepage": "https://miniocean404.github.io/mini-component-library",
